body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Outer Purple Box */
.main-box {
    width: 320px;
    padding: 25px;
    margin: 40px auto;

    background-color: #c8b6f7;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Main Title */
.title {
    text-align: center;
    color: #3b2d5b;
    margin-bottom: 10px;
}

/* White Cards */
.card {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.card h3 {
    color: #555;
    margin-bottom: 8px;
    font-size: 16px;
}

.big {
    font-size: 28px;
    font-weight: bold;
    color: black;
}
