
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.card {
    width: 300px;
    height: 400px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;

    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    text-align: center;
    background-color: white;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;   
    object-fit: cover;
}
